.transactions_container{
   -fx-background-color: #8E8E8E47;
}
.transactions_container Text{
    -fx-fill: #000000;
    -fx-font-size: 2.5em;
    -fx-font-family: "Calibri-Light";
}
.transactions_container .list-view{
    -fx-background-color: #8E8E8E47;
    -fx-padding: 10;
}
.transactions_container .list-cell{
    -fx-background-color: #8E8E8E47;
    -fx-pref-width: 800;
}
